{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Token Reset"%}{% endblock title %}

{% block content %}
<div class="container flex-column">
    <aside class="well">
        <form action="{% url 'user_change_token' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.gitlab_token.id_for_label }}" class="col-sm-3">
                    {% trans "GitLab Token :"%}
                    <p class="form-gitlab-token">{{ form.gitlab_token }}</p>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">{% translate "Confirm"%}</button>
            <span class="form-git-error">{{ form.gitlab_token.errors }}</span>
        </form>
    </aside>
</div>


{% endblock %}
