{% extends "base.html" %}
{% load i18n %}
{% load export_extras %}
{% load static %}
{% block title %}{% trans "issues" %}{% endblock title %}

{% block foot-javascript %}
    <script src="{% static 'js/exportgitlab.js' %}"></script>
    <script type="module" src="{% static 'js/exportgitlab-vue.js' %}"></script>
{% endblock foot-javascript %}


{% block content %}
    <div class="container" id="app">
        <h4>Project ID: {{ project.gitlab_id }} - {{ project.name }} - Issues</h4>
        <aside class="well">
            <span><strong>{% trans "Filtering issues :" %}</strong></span>
            <form method="GET" class="form-gitlab-token" action="{% url "list_all_issues" id_pj=project.id %}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="iids">
                            ID:
                            <input type="text" class="form-control" name="iid" id="iids" placeholder="1,2,3,4" v-model="ids">
                        </label>
                        <fieldset class="status-group">
                            <legend class="legend-status">{% trans "Status :" %}</legend>
                            <label for="opened">
                                <input type="radio" name="oc" id="opened" value="opened" v-model="issuesStates" checked>
                                {% trans "Open" %}
                            </label>
                            <label for="closed">
                                <input type="radio" name="oc" id="closed" value="closed" v-model="issuesStates">
                                {% trans "Close" %}
                            </label>
                        </fieldset>
                    </div>
                    <div class="labels-filter">
                        <div v-for="tag in labels" :key="tag.id">
                            <input type="checkbox" :id="`checkbox_${ tag.id }`" name="lab" :value="tag.name"
                                   v-model="selectedLabels">
                            <label :for="`checkbox_${ tag.id }`">
                                <span :style="{backgroundColor: getColors(tag.name).bgColor, color: getColors(tag.name).textColor}"
                                      class="label">{$ tag.name $}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </aside>

        <form method='POST' id="issue_form" action="{% url "download_report_issues" id_pj=project.id %}">
            {% csrf_token %}
            <div v-if="!issues.length" class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
                    <span class="sr-only">Loading ...</span>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <td>
                        <p><strong>{% trans "Download issues selections :" %}</strong></p>
                        <div class="download-group">
                            <div class="check-all">
                                <input type="checkbox" id="selectAll" :checked="allChecked"
                                       @change="toggleAllCheckboxes"/>
                                <label for="selectAll">
                                <span v-if="nbChecked === 0" id="check_all_on">
                                    {% trans "Check all" %}
                                </span>
                                <span v-else id="check_all_off">
                                    {% trans "Uncheck all" %}
                                </span>
                                </label>
                            </div>
                            <button class="btn btn-default" type="submit" id="issue_dl_button"
                                    :disabled="nbChecked <= 0">{% trans "Download" %}</button>
                            <label for="group_issue">
                                <input type="radio" name="grp-ungrp" id="group_issue" value="group_issue"
                                       :disabled="nbChecked <= 0"
                                       checked>
                                {% trans "Download in group" %}
                            </label>
                            <label for="ungroup_issue">
                                <input type="radio" name="grp-ungrp" id="ungroup_issue" value="ungroup_issue"
                                       :disabled="nbChecked <= 1">
                                {% trans "Download separately" %}
                            </label>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="issue in visibleIssues" :key="issue.iid">
                        <td>
                            <input class="form-check-input" type="checkbox" name="checkbox_issues"
                                   :id="`issue_${ issue.iid }`" :value="issue.iid" v-model="issue.checked">
                            <label :for="`issue_${ issue.iid }`">
                                <span>{$ issue.iid $} - {$ issue.title $}</span>
                                <span class="text-muted">{$ issue.author $}</span>
                            </label>
                            <div>
                                <span v-for="tag in issue.labels"
                                      :key="issue.iid + tag"
                                      :style="{backgroundColor: getColors(tag).bgColor, color: getColors(tag).textColor}"
                                      class="label"
                                >{$ tag $}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="text-center">
            <strong><button class="btn btn-link" v-if="!allIssuesDisplayed" @click="showMoreIssues">
                {% trans "Show More" %}
            </button></strong>
        </div>
    </div>
{% endblock %}
