{% extends "base.html" %}
{% load i18n %}
{% load export_extras %}

{% block title %}{% trans "issues"%}{% endblock title %}

{% block content %}
<div class="container">
    <h4 class="">Project ID: {{ the_project.gitlab_id }} - {{ the_project.name }} - Issues</h4>
    <br>
    <table class="table">
    <form method='POST' action="{% url "download_issues" id_pj=the_project.id%}">
    {% csrf_token %}
    <button class="btn" type="submit">{% trans "Download" %}</button>
    <tbody>
        {% for issue in page_obj %}
            <tr>
                <td><input type="checkbox" name="checkbox_issues" id="checkbox_issues" value="{{ issue.iid }}">
                <span>{{ issue.iid }} - {{ issue.title }}</span>
                <span class="text-muted vertical-center">{{ issue.author.name }}</span>
                {% for tag in issue.labels %}
                            <span style="background-color:{{ gitlab_labels|get_value:tag }}" class="label label-default">{{ tag }}</span>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </form>
</table>
</div>

{% if page_obj.next_page_number > 1 or page_obj.has_previous %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">&laquo; {% trans "first" %}</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}

                <li class="disabled">
                    <span>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
