{% extends "base.html" %}
{% load i18n %}
{% load export_extras %}
{% load static %}
{% block title %}{% trans "issues"%}{% endblock title %}

{% block foot-javascript %}
    <script src="{% static 'js/exportgitlab.js' %}"></script>
{% endblock foot-javascript %}


{% block content %}
<div class="container">
    <h4>Project ID: {{ project.gitlab_id }} - {{ project.name }} - Issues</h4>
    <aside class="well">
        <form method="GET" action="{% url "list_all_issues" id_pj=project.id%}">
            <div class="row">
                <div class="col-md-2">
                    <label for="iids">
                        ID:
                        <input class="form-control" name="iid" id="iids" value="" placeholder="1,2,3,4">
                    </label>
                    <div class="status-group">
                        <label>{% trans "Status :" %}</label>
                        <div class="open-close">
                            <label for="opened">
                                <input type="radio" name="oc" id="opened" value="opened" checked required>
                                {% trans "Open" %}
                            </label>
                            <label for="closed">
                                <input type="radio" name="oc" id="closed" value="closed">
                                {% trans  "Close" %}
                            </label>
                        </div>
                    </div>
                    <div class="button_form">
                        <button class="btn btn-default" type="submit">{% trans "Filter"%}</button>
                        <input class="btn btn-default" type="reset" value="{% trans "Reset" %}">
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class="labels_filter">
                        {% for label in gitlab_labels %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="checkbox_{{ label }}" name="lab" value="{{ label }}">
                                <label for="checkbox_{{ label }}">
                                    {% with color=gitlab_labels|get_value:label %}
                                    <span style="background-color:{{ color.bg_color }}; color:{{ color.text_color }}" class="label label-default">{{ label }}</span>
                                    {% endwith %}
                                </label>    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </aside>

    <form method='POST' id="issue_form" action="{% url "download_report_issues" id_pj=project.id%}">
        {% csrf_token %}
        <div class="download-group">
            <label for="group_issue">
                <input type="radio" name="grp-ungrp" id="group_issue" value="group_issue" checked required>
                {% trans "Download in group" %}
            </label>
            <label for="ungroup_issue">
                <input type="radio" name="grp-ungrp" id="ungroup_issue" value="ungroup_issue">
                {% trans "Download separately" %}
            </label>
            <button class="btn btn" type="submit">{% trans "Download" %}</button>
        </div>
        <div class="check-all">
            <input type="checkbox" id="selectAll"/>
            <label for="selectAll">
                <span id="check_all_on" style="display: block;">
                    {% trans "Check all" %}
                </span>
                <span id="check_all_off" style="display: none;">
                    {% trans "Uncheck all" %}
                </span>
            </label>
        </div>
        <table class="table">
            <tbody>
                {% for issue in page_obj %}
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox" name="checkbox_issues" id="issue_{{issue.iid }}" value="{{ issue.iid }}">
                            <label for="issue_{{issue.iid }}">
                                <span>{{ issue.iid }} - {{ issue.title }}</span>
                                <span class="text-muted">{{ issue.author.name }}</span>
                            </label>
                            <div style="margin-bottom: auto">
                                {% for tag in issue.labels %}
                                    {% with color=gitlab_labels|get_value:tag %}
                                        <span style="background-color:{{ color.bg_color }}; color:{{ color.text_color }}" class="label">{{ tag }}</span>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% if page_obj.next_page_number > 1 or page_obj.has_previous %}
    <div class="container">
        <div class="row">
            <div class="text-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1">&laquo; {% trans "first" %}</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
                    {% endif %}

                    <li class="disabled">
                        <span>
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                    </li>

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
