{% extends "base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="alert alert-success" role="alert">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    </div>
    {% endif %}

    <div class="well">
    <h3>User Information</h3>
    <dl class="dl-horizontal">
        <dt>Username:</dt>
        <dd>{{ user.username }}</dd>
        <dt>GitLab Token:</dt>
        <dd>{{ user.gitlab_token|default:"Token non défini" }}</dd>
        <dd><a href="{% url "tokenchangedpending" %}">Changer de token</a></dd>
    </dl>

    </div>
</div>
{% endblock %}
