.nav-link {
    color: #ffffff;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 5px solid #c3e6cb;
    border-radius: 10px;
    padding: 10px;
}

.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 5px solid #ffeeba;
    border-radius: 10px;
    padding: 10px;
}


.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 5px solid #f5c6cb;
    border-radius: 10px;
    padding: 10px;
}


.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 5px solid #bee5eb;
    border-radius: 10px;
    padding: 10px;
}

.form-git-error {
    margin-top: 50px;
    display: flex;
}

.table {
    margin-top: 5px;
}

.table thead th {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.project-desc-url {
    margin-bottom: 1px;
}

.form-gitlab-token {
    margin-top: 5px;
    margin-bottom: auto;
}

.button-form {
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    border-bottom: 2px solid #ddd;
    display: flex;
    padding-bottom: 4px;
}

.vertical-center {
    align-items: center;
}

.legend-status {
    margin-bottom: 3px !important;
    font-size: 14px !important;
    border: 0 !important;
    font-weight: bold;

}

.sr-only {
    border: 0 !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.filter {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.labels-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.container span {
    margin-left: 2px;
}

.check-all {
    margin-top: 25px;
    margin-bottom: 0 !important;
}

.download-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-top: 3px;
}

.status-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

aside.well .row {
    margin-top: 10px;
    justify-content: normal
}

aside.well input[disabled] {
    background-color: transparent;
    border: none;
    user-select: none;
}
